.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3e3e3e;
    color:white;
    padding:20px
}

.nav-tabs {
    list-style: none;
}

.nav-item {
    color:green;
    list-style: none;
}

.nav-link {
    color:green;
    list-style: none;
}