/*Create variables to be used, so I dont need change repetitive attribuits*/
:root{
    --dark-back-c:rgb(11,11,26);/* set up two background color DARK*/
    --light-back-c:rgb(27,27,59);/* set up two background color light*/
    --btn-color:#eb1a5c;/*apply some color to specifics place*/
    --white-color:rgb(226, 226, 226);/*white color is too bright, so i created a off-white color to help with the visual*/
    --border-r:30px;/*to create a nice round effect */
}
/*Universal selector*/
*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}


/*################## Header #########################*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-back-c);
    color:var(--white-color);
    padding:20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}

.header h1 {
    font-weight: bolder;
}

.nav-tabs .nav-link {
    color:var(--white-color);
}

.nav-tabs .nav-link:hover {
    color:var(--white-color);
    border-radius:25px;
}

ul.nav.nav-tabs { /*remove the border from the navbar */
    border-style: none;
}

.nav-tabs .nav-link.active {/*remove the border from the navbar */
    border-radius: 25px;
}

/*################## Footer #########################*/
.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
    background-color: var(--dark-back-c);
    
}

section.remove-margin {
    margin:0px;
    margin-bottom: 0px;
    padding-top: 0px;

}

  footer.text-center.text-white {
    background-color: var(--dark-back-c);
    padding:8px
}

.icons-footer {
    font-size: 250%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.icons-footer:hover{
    color:var(--btn-color);
    transition: .5s;
}