
/*################## Header #########################*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3e3e3e;
    color:white;
    padding:20px
}

.nav-tabs .nav-link {
    color:white;
}

.nav-tabs .nav-link:hover {
    color:white;
    border-radius:25px;
}

ul.nav.nav-tabs { /*remove the border from the navbar */
    border-style: none;
}

.nav-tabs .nav-link.active {/*remove the border from the navbar */
    border-radius: 25px;
}