/*Create variables to be used, so I dont need change repetitive attribuits*/
:root{
    --dark-back-c:rgb(11,11,26);/* set up two background color DARK*/
    --light-back-c:rgb(27,27,59);/* set up two background color light*/
    --btn-color:#eb1a5c;/*apply some color to specifics place*/
    --white-color:rgb(226, 226, 226);/*white color is too bright, so i created a off-white color to help with the visual*/
    --border-r:30px;/*to create a nice round effect */
}
/*Universal selector*/
*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

/*################## Universal Selector End #########################*/

.portfolio-container {
	padding: 5%;
	background-color: var(--light-back-c);
}

.portfolio-card {
	padding-bottom: 20px;
}

.card {
	max-width: 360px;
	min-height: 449px;
}

.card-img-top {
	max-height: 163px;
	min-height: 163px;
}

a h5 {
	text-decoration: none;
}

a.btn.btn-primary {
    margin-right: 10px;
}


.work{
    background-color: var(--light-back-c);
    padding:10px 0px;
    width: 100%;
}

.title h2{
    color: var(--white-color);
    text-align: center;
    margin: 25px auto;
    font-size: 50px;
    width: 1100;
    
}


ul#port-photos {
	width:1100px;
	margin:0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
    flex-wrap: wrap;
}

ul#port-photos li {
	float:left;
	width:430px;
	height:215px;
	margin:10px;
    margin-right: 25px;
	border: 2px solid var(--white-color);
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	transition: all 0.3s ease-in;
}

ul#port-photos li#pic01 {
    width:900px;
	height:auto;
}

ul#port-photos li span {
    font-size: 32px;
	opacity:1;
	color: #ffffff;
	text-shadow:1px 1px 1px #000000;
	background-color: rgba(0,0,0,1);
	line-height:370px;
	
}

ul#port-photos li:hover {
	transform:scale(1.1);
	
}

ul#port-photos li:hover span{
	opacity:1;
}
/*Add the picture to the page*/
ul#port-photos li#pic01 {
	background: url('../assets/4play.png') no-repeat;/*	The background-image is not repeated. The image will only be shown once*/
	background-position:50% 50%;
	background-color:#ffffff;
}

ul#port-photos li#pic01:hover {
	background-position:0px 0px;
	background-size:100%;
}

ul#port-photos li#pic02 {
	background: url('../assets/seo.png') no-repeat;
	background-position:50% 50%;
	background-color:#ffffff;
}
ul#port-photos li#pic02:hover {
	background-position:0px 0px;
	background-size:100%;
}

ul#port-photos li#pic03 {
	background: url('../assets/snippet-cheatsheet.png') no-repeat;
	background-position:50% 50%;
	background-color:#ffffff;
}
ul#port-photos li#pic03:hover {
	background-position:0px 0px;
	background-size:100%;
}


/*#########  ########################  #########################*/

.container {
	position: relative;
	width: 50%;
	max-width: 300px;
  }
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .overlay {
	position: absolute; 
	bottom: 0; 
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1; 
	width: 100%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }