/*Create variables to be used, so I dont need change repetitive attribuits*/
:root{
    --dark-back-c:rgb(11,11,26);/* set up two background color DARK*/
    --light-back-c:rgb(27,27,59);/* set up two background color light*/
    --btn-color:#eb1a5c;/*apply some color to specifics place*/
    --white-color:rgb(226, 226, 226);/*white color is too bright, so i created a off-white color to help with the visual*/
    --border-r:30px;/*to create a nice round effect */
}
/*Universal selector*/
*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

/*################## Universal Selector End #########################*/