/*Create variables to be used, so I dont need change repetitive attribuits*/
:root{
    --dark-back-c:rgb(11,11,26);/* set up two background color DARK*/
    --light-back-c:rgb(27,27,59);/* set up two background color light*/
    --btn-color:#eb1a5c;/*apply some color to specifics place*/
    --white-color:rgb(226, 226, 226);/*white color is too bright, so i created a off-white color to help with the visual*/
    --border-r:30px;/*to create a nice round effect */
}
/*Universal selector*/
*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

/*################## Universal Selector End #########################*/

.resume {
	background-color: var(--light-back-c);
	padding: 60px 0px;
}

.skill_set {
    color:var(--white-color);
	background-color: var(--highlight-color);
	margin: 0px 5% 60px;
	border-radius: 1rem;
}

.skill_set h2 {
	font-weight: bold;
}
.list-container {
    text-decoration: none;
    padding-left:60px;
}

.skills-list {
	margin-bottom: 20px;
	font-size: 20px;    
}
/* ############################  technologies_container  #################*/
.technologies_container {
	background-color: var(--highlight-color);
	margin: 0px 5%;
	border-radius: 1rem;
}
.technologies_container h3 {
	font-size: 30px;
	padding: 30px;
	margin-bottom: 30px;
}

.technologies {
	font-size: xx-large;
	font-weight: 500;
}
.technologies_li {
	margin-left: 5%;
    padding-bottom: 20px;
    font-size: 25px;
}
/*  ######################  Download #########################  */

.download_Link {
	background-color: var(--highlight-color);
	margin: 60px 5% 0px;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
}

.download_aTag {
	color: var(--white-color);
	font-size: 25px;
	font-weight: bold;
	margin: 20px;
	transition: .5s;
    text-decoration: none;
    border: .5px rgba(255, 255, 255, 0.206) solid;
    padding:15px;
    border-radius: 45px;
    background-color: var(--dark-back-c);
}

.download_aTag:hover {
	color: var(--btn-color);
    border: none;
}

@media screen and (max-width: 900px) {
	.skill_list {
		flex-wrap: wrap;
		justify-content: left;
    }
}